body {
  text-align: center;
  background: #f2994a;
  background: -webkit-linear-gradient(to right, #f2c94c, #f2994a);
  background: linear-gradient(to right, #f2c94c, #f2994a);
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
}
